<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NanoTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NanoTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <NanoTools.Properties.Settings>
      <setting name="bwa" serializeAs="String">
        <value />
      </setting>
      <setting name="canu" serializeAs="String">
        <value />
      </setting>
      <setting name="graphmap" serializeAs="String">
        <value />
      </setting>
      <setting name="nanopolish" serializeAs="String">
        <value />
      </setting>
      <setting name="samtools" serializeAs="String">
        <value />
      </setting>
      <setting name="poretools" serializeAs="String">
        <value />
      </setting>
      <setting name="nanosv" serializeAs="String">
        <value />
      </setting>
      <setting name="sniffles" serializeAs="String">
        <value />
      </setting>
      <setting name="snpEff" serializeAs="String">
        <value />
      </setting>
      <setting name="porechop" serializeAs="String">
        <value />
      </setting>
      <setting name="SNVSniffer" serializeAs="String">
        <value />
      </setting>
      <setting name="saveDir" serializeAs="String">
        <value />
      </setting>
      <setting name="selectDir" serializeAs="String">
        <value />
      </setting>
      <setting name="registerUrl" serializeAs="String">
        <value>http://nanotools.php.xdomain.jp</value>
      </setting>
    </NanoTools.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <NanoTools.Properties.Settings>
      <setting name="GraphMapDesc" serializeAs="String">
        <value>GraphMap(snappy)</value>
      </setting>
      <setting name="bwaDesc" serializeAs="String">
        <value>bwa(ont2d option)</value>
      </setting>
      <setting name="SNVSnifferDesc" serializeAs="String">
        <value>SNVSniffer(recommend: for snv InDel)</value>
      </setting>
      <setting name="SnifflesDesc" serializeAs="String">
        <value>Sniffles(detects all types of SVs (10bp+))</value>
      </setting>
      <setting name="PlatypusDesc" serializeAs="String">
        <value>Platypus(small snv InDel)</value>
      </setting>
    </NanoTools.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>